extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="blockName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Control Button on/off)
                        h3(id="numBlock",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{port}
                    .card-body
                        form
                            .form-group(class="checkbox",id="equipments")
                                each blocki, index in blocks 
                                    -let num= 'b'+blocki.block.pin.toString();
                                    -let act = blocki.block.act;
                                    -let type = blocki.block.type;
                                    -let mask = blocki.block.mask;
                                    -let val = blocki.block.value;
                                    -let temp;
                                    -if(type ===1)    
                                        -if(act)
                                            -if(val===0)
                                                -temp = false;
                                            -else 
                                                -temp = true;
                                            label(for=num) #{mask}
                                            br
                                            input(type="checkbox",id=num,class="blocki",checked =temp,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="ON", data-off= "OFF")
                                            br
                                            br
                                            hr
                                        -else
                                            -if(val===0)
                                                -temp = false;
                                            -else 
                                                -temp = true;
                                            label(for=num) #{mask}
                                            br
                                            input(type="checkbox",id=num,class="blocki",checked =temp,disabled,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="ON", data-off= "OFF")
                                            br
                                            br
                                            hr
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/controlBlock.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/gui/blocks') Return Block table
                            .col-6    
                                .small
                                    a(href='/user/gui') Return config GUI

        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="blockName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Control Voltag ouput)
                        h3(id="numBlock",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{port}
                    .card-body
                        form
                            each blocki, index in blocks 
                                -let num= 'b'+index.toString();
                                -let act = blocki.block.act;
                                -let type = blocki.block.type;
                                -let val = blocki.block.value.toString();
                                -if(type === 0)    
                                    -if(act)
                                        label(for=num) #{mask}
                                        e-icon(icon='e-android')
                                        br
                                        e-slider(priority='mobile_click_through',id=num,min-label='Minimum(%)', max-label='Maximum(%)',value =val)
                                        br
                                        hr
                                    -else
                                        label(for=num) #{mask}
                                        e-icon(icon='e-apple')
                                        br
                                        e-slider(priority='primary',id=num ,min-label='Minimum(%)', max-label='Maximum(%)',disabled='true',value =val)
                                        br
                                        hr
                                    
                        link(href='https://assets.emarsys.net/ui/14.620.2/css/app.css', rel="stylesheet")
                        script(src='https://assets.emarsys.net/ui/14.620.2/js/app.js')
                    
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/controlBlock.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/gui/blocks') Return Block table
                            .col-6    
                                .small
                                    a(href='/user/gui') Return config GUI