extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Control Button on/off)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body
                        form
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.mask+ "(" + index.toString() + ")";
                                    -let num= 'e'+index.toString();
                                    -let act = equipi.act;    
                                    input(type="checkbox",id=num,class="equipinum",checked =act,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on=label, data-off=label)
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/controlBlock.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/gui/blocks') Return Block table
                            .col-6    
                                .small
                                    a(href='/user/gui') Return config GUI