extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Choose equipments you use)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body
                        form
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.mask+ "(" + index.toString() + ")";
                                    -let num= 'e'+index.toString();
                                    -let act = equipi.act;    
                                    input(type="checkbox",id=num,class="equipinum",checked =act,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on=label, data-off=label)
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipments.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Choose type of Equipment you want)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body
                        form
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let num= 't'+index.toString();
                                    -let type = equipi.type;
                                    -if(type ===1)
                                        input(type="checkbox",id=num,checked ,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="D " +num, data-off="Non-D "+num)  
                                    -else
                                        input(type="checkbox",id=num,class="equipitype",data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="D "+num, data-off="Non-D "+num)
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipmentsType.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device
        //- ------------------------------------------------------------------------------//
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Update mask for Equiptments to using easily)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body.text-md-center
                        form
                            //- button on off
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.mask+ "(" + (index).toString() + ")";
                                    -let num='m'+ index.toString();
                                    
                                    input(type="text",id=num,placeholder=label)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updateMask") Change Mask
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipmentsMask.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Update Mask of Port for Equiptments to using easily)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body.text-md-center
                        form
                            //- button on off
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.maskport+ "(" + (index).toString() + ")";
                                    -let num='mp'+ index.toString();
                                     
                                    input(type="text",id=num,placeholder=label)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updateMaskport") Change Mask port
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipmentsMaskport.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device
        //- ------------------------------------------------------------------------------//
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Update number of port you use)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body.text-md-center
                        form
                            //- button on off
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.port+ "(" + (index).toString() + ")";
                                    -let num='m'+ index.toString();
                                    
                                    input(type="text",id=num,placeholder=label)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updatePort") Change Port number
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipmentsPort.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName",style="text-align:center").text-center.font-weight-light.my-4 #{name}
                        h5(style="text-align:center") (Update Pin you want to use)
                        h3(id="devID",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{dev}
                        h3(id="numEquipi",style="text-align:center",hidden).text-center.font-weight-light.my-4 #{numEquipi}
                    .card-body.text-md-center
                        form
                            //- button on off
                            .form-group(class="checkbox",id="equipments")
                                each equipi, index in equips 
                                    -let label = equipi.pin+ "(" + (index).toString() + ")";
                                    -let num='mp'+ index.toString();
                                     
                                    input(type="text",id=num,placeholder=label)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updatePin") Change Pin number
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configEquipmentsPin.js")
                    .card-footer.text-center
                        .row
                            .col-6 
                                .small
                                    a(href='/user') Return Dashoard
                            .col-6
                                .small
                                    a(href='/user/config/equipments') Return Equipments table
                            .col-6    
                                .small
                                    a(href='/user/config') Return config device