<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body
        h2(class="center") on off the device  
        form(action="/user/GUI", method='post')
            select(name="io",style="width: auto" , class="center")
                option(value="0") #{Pin_0}
                option(value="2") #{Pin_2}
                option(value="4") #{Pin_4}
                option(value="5") #{Pin_5}
                option(value="12") #{Pin_12}
                option(value="13") #{Pin_13}
                option(value="14") #{Pin_14}
                option(value="15") #{Pin_15}
                option(value="16") #{Pin_16}
                option(value="17") #{Pin_17}
                option(value="18") #{Pin_18}
                option(value="19") #{Pin_19}
                option(value="21") #{Pin_21}
                option(value="22") #{Pin_22}
                option(value="23") #{Pin_23}
                option(value="27") #{Pin_27}
                option(value="32") #{Pin_32}
                option(value="33") #{Pin_33}
            br 
            select(name="device",style="width: auto" , class="center")
                option(value="0") #{Dev_0}
                option(value="1") #{Dev_1}
                option(value="2") #{Dev_2}
                option(value="3") #{Dev_3}

            button(name="value", type="submit" ,value=0 ,style="width: auto;background-color: green" , class="center")  ON
            button(name="value" ,type="submit" ,value=1 ,style="width: auto;background-color: red" , class="center") OFF
            
        br
        hr
        h2(class="center")  Controll PWM VS DAC
        form(action="/user/GUI", method='post')
            
            select(name="device",style="width: auto" , class="center")
                option(value="0") #{Dev_0}
                option(value="1") #{Dev_1}
                option(value="2") #{Dev_2}
                option(value="3") #{Dev_3}

            br
            <input type="radio" id="pwm0" name="io" value="34" checked>
                <label for="pwm0"> PWM HS Channel 0 :    #{dataPWM0} </label>
                <br>
            <input type="radio" id="pwm1" name="io" value="35">
                <label for="pwm1"> PWM HS Channel 1 :    #{dataPWM1}</label>
                <br>
            <input type="radio" id="pwm2" name="io" value="36">
                <label for="pwm2"> PWM HS Channel 0 :    #{dataPWM2}</label>
                <br>
            <input type="radio" id="pwm3" name="io" value="39">
                <label for="pwm3"> PWM HS Channel 1 :    #{dataPWM3}</label>
                <br>
            <input type="radio" id="dac0" name="io" value="25">
                <label for="dac0"> DAC Channel 0    :    #{dataDAC0}</label>
                <br>
            <input type="radio" id="dac1" name="io" value="26">
                <label for="dac1"> DAC Channel 1    :    #{dataDAC1}</label>
                <br>

            div(class="slidecontainer")
                input(type="range", min="0" ,max="255" ,value='#{datacurrent}' ,class="slider" ,id="duty", name="value")
                span(id="display")
                
            input(type='submit', value='    set duty    ',style="width: auto;background-color: black")

            script. 
                var slider = document.getElementById("duty");
                var output = document.getElementById("display");
                output.innerHTML = slider.value;

                slider.oninput = function() {
                output.innerHTML = this.value;
                }
        hr
        br
        form(action='/user', method='get')
            input(type='submit', value='    Return    ',style="width: auto;background-color: red")


                


