<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
        link(rel="stylesheet" ,href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

        //--!> add js file 
        script(type ="text/javascript",src="/javascripts/tool.js").
            showTime()

    body
        h2(class="center") on off the device  
        form(action="/user/GUI", method='post')
            select(name="io",style="width: auto" , class="center")
                option(value="0") #{Pin_0}
                option(value="2") #{Pin_2}
                option(value="4") #{Pin_4}
                option(value="5") #{Pin_5}
                option(value="12") #{Pin_12}
                option(value="13") #{Pin_13}
                option(value="14") #{Pin_14}
                option(value="15") #{Pin_15}
                option(value="18") #{Pin_18}
                option(value="19") #{Pin_19}
                option(value="21") #{Pin_21}
                option(value="22") #{Pin_22}
                option(value="23") #{Pin_23}
                option(value="27") #{Pin_27}
                option(value="32") #{Pin_32}
                option(value="33") #{Pin_33}
            br 
            select(name="device",style="width: auto" , class="center")
                option(value="0") #{Dev_0}
                option(value="1") #{Dev_1}
                option(value="2") #{Dev_2}
                option(value="3") #{Dev_3}

            button(name="value", type="submit" ,value=0 ,style="width: auto;background-color: green" , class="center")  ON
            button(name="value" ,type="submit" ,value=1 ,style="width: auto;background-color: red" , class="center") OFF
            
        br
        hr
        h2(class="center")  Controll PWM 
