<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=yes")
        title  #{title}

        //--!> add link srouce here
        link(rel="icon" , type="image/png", href="/images/icon.png")
        link(rel="stylesheet" ,href="/stylesheets/style.css")
    style.
        .btn-group button {
        background-color: #4CAF50; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
        }

        .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
        }

        /* Add a background color on hover */
        .btn-group button:hover {
        background-color: #3e8e41;
        }
    body 
        div(class="btn-group", style="width:100%")
            form(action='/user/GUI/livingroom', method='get')
                button(style="width:60%",class="center") 
                    p living room
                br
            form(action='/user/GUI/badroom', method='get')
                button(style="width:60%",class="center") 
                    p badroom
                br
            form(action='/user/GUI/kitchen', method='get')
                button(style="width:60%",class="center") 
                    p kitchen
                br
            form(action='/user/GUI/bathroom', method='get')
                button(style="width:60%",class="center") 
                    p bathroom
                br
            form(action='/user/GUI/toilet', method='get')
                button(style="width:60%",class="center") 
                    p toilet

        h2(class="center")  Controll PWM VS DAC
        form(action="/user/GUI", method='post')
            
            input(type="hidden",name ="device",value="0")
            <input type="radio" id="pwm0" name="io" value="34" checked>
                <label for="pwm0"> PWM HS Channel 0 :    #{dataPWM0} </label>
                <br>
            <input type="radio" id="pwm1" name="io" value="35">
                <label for="pwm1"> PWM HS Channel 1 :    #{dataPWM1}</label>
                <br>
            <input type="radio" id="pwm2" name="io" value="36">
                <label for="pwm2"> PWM HS Channel 0 :    #{dataPWM2}</label>
                <br>
            <input type="radio" id="pwm3" name="io" value="39">
                <label for="pwm3"> PWM HS Channel 1 :    #{dataPWM3}</label>
                <br>
            <input type="radio" id="dac0" name="io" value="25">
                <label for="dac0"> DAC Channel 0    :    #{dataDAC0}</label>
                <br>
            <input type="radio" id="dac1" name="io" value="26">
                <label for="dac1"> DAC Channel 1    :    #{dataDAC1}</label>
                <br>

            div(class="slidecontainer")
                input(type="range", min="0" ,max="255" ,value='#{datacurrent}' ,class="slider" ,id="duty", name="value")
                span(id="display")
                
            input(type='submit', value='    set duty    ',style="width: auto;background-color: black")

            script. 
                var slider = document.getElementById("duty");
                var output = document.getElementById("display");
                output.innerHTML = slider.value;

                slider.oninput = function() {
                output.innerHTML = this.value;
                }
        hr
        br
        form(action='/user', method='get')
            input(type='submit', value='    Return    ',style="width: auto;background-color: red;border-radius: 50%;")
