extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName").text-center.font-weight-light.my-4 #{name} 
                        h3(id="devID").text-center.font-weight-light.my-4 #{dev} 
                    .card-body
                        form
                            //- button on off
                            .form-group(class="checkbox",id="sensors")
                                each sensi, index in sens 
                                    -var label = sensi.mask+ "(" + (index+1).toString() + ")";
                                    -var num= index.toString();
                                    -var act = sensi.act;    
                                    input(type="checkbox",id=num,checked =act ,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on=label, data-off=label)

                            //- br
                            //- search box
                            //- .form-group(class="wrap")
                            //-     .form-group(class="search")
                            //-         input(type="text" ,class="searchTerm",id="search" , placeholder="What are you looking for?")
                            //-         button.fa.fa-search(type="submit" ,class="searchButton")
                            //- user deivec after add/remove
                            //- .form-group(class="list-group")
                            //-     a(href="#" class="list-group-item list-group-item-action") All device Post
                                    each devi in dev
                                        - var url = '/user/config/sensors/'+ devi.dev;
                                        a(href=url ,class="list-group-item list-group-item-action list-group-item-success")= devi.mask + " " + "(" + devi.dev + ")"
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .row
                            .col-6
                                .small
                                    a(href='/user/config') Return config Dev
                            .col-6    
                                .small
                                    a(href='/user') Return your page
