extends layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName").text-center.font-weight-light.my-4 #{name} (Choose sensors you use)
                        h3(id="devID").text-center.font-weight-light.my-4 #{dev} 
                    .card-body
                        form
                            //- button on off
                            .form-group(class="checkbox",id="sensors")
                                each sensi, index in sens 
                                    -let label = sensi.mask+ "(" + (index+1).toString() + ")";
                                    -let num= index.toString();
                                    -let act = sensi.act;    
                                    input(type="checkbox",id=num,checked =act,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on=label, data-off=label)
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .row
                            .col-6
                                .small
                                    a(href='/user/config') Return config Dev
                            .col-6    
                                .small
                                    a(href='/user') Return your page
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName").text-center.font-weight-light.my-4 #{name} (Choose type of Chart you want)
                        h3(id="devID").text-center.font-weight-light.my-4 #{dev} 
                    .card-body
                        form
                            .form-group(class="checkbox",id="sensors")
                                each sensi, index in sens 
                                    -let num= index.toString();
                                    -let type = sensi.type;
                                    -if(type ===1)
                                        input(type="checkbox",id=num,checked ,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="line " +num, data-off="bar "+num)  
                                    -else
                                        input(type="checkbox",id=num,data-toggle="toggle",data-onstyle="success" data-offstyle="danger",data-width="200",data-on="line "+num, data-off="bar "+num)
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .row
                            .col-6
                                .small
                                    a(href='/user/config') Return config Dev
                            .col-6    
                                .small
                                    a(href='/user') Return your page
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3(id="devName").text-center.font-weight-light.my-4 #{name} (Update mask for sensors to using easily)
                        h3(id="devID").text-center.font-weight-light.my-4 #{dev} 
                    .card-body.text-md-center
                        form
                            //- button on off
                            .form-group(class="checkbox",id="sensors")
                                each sensi, index in sens 
                                    -let label = sensi.mask+ "(" + (index+1).toString() + ")";
                                    -let num= index.toString();
                                    -let act = sensi.act; 
                                    input(type="text",id=num,placeholder=label)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.btn.btn-primary(type='submit',id="updateMask") Change Mask
                        script(src='https://code.jquery.com/jquery-3.3.1.js', crossorigin='anonymous')
                        script(src="/javascripts/configSensors.js")
                    .card-footer.text-center
                        .row
                            .col-6
                                .small
                                    a(href='/user/config') Return config Dev
                            .col-6    
                                .small
                                    a(href='/user') Return your page